{% extends "layout.html" %}

{% block title %}Calorie Counter - Admin{% endblock %}

{% block urls %}
    <li>
        <a href="{% url 'admin_dashboard' %}"><i class="fas fa-chart-line"></i> Dashboard</a>
    </li>
    <li>
        <a href="{% url 'manage_foods' %}"><i class="fas fa-apple-alt"></i> Manage Foods</a>
    </li>
    <li>
        <a href="{% url 'add_food' %}"><i class="fas fa-plus"></i> Add Food</a>
    </li>
    <li>
        <a href="{% url 'manage_users' %}"><i class="fas fa-users"></i> Manage Users</a>
    </li>
    {% if request.user.role == 'superadmin' %}
        <li>
            <a href="{% url 'manage_admins' %}"><i class="fas fa-user-cog"></i> Manage Admins</a>
        </li>
        <li>
            <a href="{% url 'add_admin' %}"><i class="fas fa-user-cog"></i> Create Admin</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
{% endblock %}

{% block page_title %}{% endblock %}

{% block page_content %}
{% endblock %}
