{% extends "admin_layout.html" %} 

{% block title %}Manage Users - Admin{%endblock %} 
{% block page_title %}
<i class="fas fa-users"></i>
Manage Users 
{% endblock %} 
{% block page_content %}
<div class="admin-manage">
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Activity Level</th>
        <th>Height</th>
        <th>Weight</th>
        <th>BMR</th>
        <th>target</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td data-label="Username"><strong>{{ user.username }}</strong></td>
        <td data-label="Email">{{ user.email }}</td>
        <td data-label="Age">{{ user.profile.age }}</td>
        <td data-label="Gender">{{ user.profile.gender }}</td>
        <td data-label="Activity Level">{{ user.profile.activity }}</td>
        <td data-label="Height">{{ user.profile.height }}</td>
        <td data-label="Weight">{{ user.profile.weight }}</td>
        <td data-label="BMR">{{ user.profile.bmr }}</td>
        <td data-label="Target">{{ user.profile.target }}</td>
        <td data-label="Actions" class ="actions">
          <a href="{% url 'delete_user' user.id %}" class="delete">
            <i class="fas fa-trash"></i> Delete
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10" style="text-align: center; color: #999">
          No users found.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
